name: Node js setup

on:
  workflow_dispatch:

jobs:
  setup:
    name: 'Setup node js'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 20
      - run: npm install